*.zip
*.json
*.csv

!books_data.json
!inflation.json
!Large_Movie_Review_sentiments.test.csv.zip
!Large_Movie_Review_sentiments.train.csv.zip
!cats.csv
!tweets.csv
!/homework8/*.csv
!football.csv
!critic_reviews.csv
!temp.csv

/venv
/**/venv/*
/**/**/venv/*
/.idea/*
/**/.idea/*
/**/**/.idea/*
/__pycache__/*
/**/__pycache__/*
/**/**/__pycache__/*

/venv_data_parsing




